@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import "./var";

.reviews {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    text-align: center;
}

.title-name {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    color: $colorGrey;
    margin-top: 10px;
}

.prof-pic > img{
    width: 80px;
    border-radius: 50%;
    height: 70px;
}
