@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Calligraffitti&family=Open+Sans&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
.sec1 {
  height: 100vh;
  background-image: url("../images/sec1-min.jpg");
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.sec1 .polygon {
  background-image: url("../images/idea1-min.jpg");
  background-color: #ffa31a;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 300px;
  width: 350px;
}

.sec1 .arrow-down {
  position: absolute;
  color: #ffa31a;
  font-size: 46px;
  bottom: 30px;
  left: 49%;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: arrowdown 2s linear infinite;
          animation: arrowdown 2s linear infinite;
}

@-webkit-keyframes arrowdown {
  0%, 100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes arrowdown {
  0%, 100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.content > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 56px;
}

.line {
  height: 2px;
  background-color: #ffa31a;
}

.line2 {
  height: 2px;
  background-color: #ffffff;
  width: 25px;
  margin-bottom: 20px;
}

nav {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav .logo {
  width: 100%;
}

nav .logo > a {
  color: #ffa31a;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .logo > a:hover {
  color: #ffffff;
}

nav .burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .burger:hover {
  background-color: #ffa31a;
}

nav .burger .burger-line {
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  margin-top: 3px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color: #808080;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a .overlay a:focus {
  color: #ffa31a;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 60px;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.reviews {
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
  text-align: center;
}

.title-name {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  color: #808080;
  margin-top: 10px;
}

.prof-pic > img {
  width: 80px;
  border-radius: 50%;
  height: 70px;
}

footer {
  border-top: #808080 1px solid;
}

.footer-menu ul {
  list-style: none;
  height: 100px;
  width: 400px;
}

.footer-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-menu ul li a:hover {
  color: #ffa31a;
}

.footer-contact > h4 {
  color: #808080;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.footer-contact > h5 {
  color: #ffffff;
  font-size: 16px;
}

.footer-contact > h4 > i {
  margin-right: 20px;
}

.copy-right {
  background-color: #1b1b1b;
  height: 100px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
}

.logo-sec > img {
  height: 50px;
  width: 50px;
}

.logo-sec > h4 {
  font-family: 'Open Sans', sans-serif;
}

strong {
  color: #1b1b1b;
}

.calli > h4 {
  font-family: 'Calligraffitti', cursive;
}

.abril > h4 {
  font-family: 'Abril Fatface', cursive;
}

section {
  height: 100vh;
}

.icon {
  list-style: none;
  margin-top: 30px;
  width: 250px;
}

.icon li a i {
  list-style: none;
  font-size: 56px;
  color: #ffa31a;
  -webkit-transition: .5s;
  transition: .5s;
}

.icon li a i:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  section {
    height: 140vh;
  }
  .card p {
    font-size: 12px;
  }
  .title-name {
    font-size: 8px;
  }
  .prof-pic > img {
    width: 60px;
    height: 50px;
  }
  .google-map {
    width: 300px;
    margin-top: 20px;
  }
  .copy-right {
    font-size: 12px;
  }
  .footer-menu ul li a {
    font-size: 14px;
  }
  .polygon {
    background-image: url("../images/idea1-min.jpg");
    background-color: #ffa31a;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    height: 150px !important;
    width: 350px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .content > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
  }
  .content-p {
    padding: 0 50px;
  }
}

@media screen and (max-width: 990px) {
  .content .logo-sec h4 {
    font-size: 16px;
  }
  .content h1 {
    font-size: 28px;
  }
  .content p {
    font-size: 14px;
  }
  .reviews {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */