@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "./landing";
@import "./nav";
@import "./var";
@import "./reviews";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

.logo-sec > img{
    height: 50px;
    width: 50px;
}
.logo-sec > h4 {
    font-family: 'Open Sans', sans-serif;
}

strong {
    color: $colorBlack;
}

.calli > h4{
    font-family: 'Calligraffitti', cursive;
}
.abril > h4 {
    font-family: 'Abril Fatface', cursive;
}

section{
    height: 100vh;
 
}

@media screen and (max-width: 768px){
   section {
       height: 130vh;
   }
   .card p {
       font-size: 12px;
   }
 
   .title-name {
    font-size: 8px;
    }
    .prof-pic > img{
        width: 60px;
        height: 50px;
    }
    .google-map {
        width: 300px;
    }
}
.icon {
    list-style: none;
    margin-top: 30px;
    width: 250px;
}
.icon li a i{
    list-style: none;
    font-size: 56px;
    color: $colorYellow;
    transition: .5s;
    &:hover {
        color: $colorWhite;
    }   
}

footer {
    border-top: $colorGrey 1px solid;
  
}

.footer-menu ul {
    list-style: none;
    height: 100px;
    width: 400px;
}
.footer-menu ul li a{
    color: $colorWhite;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: .5s;
    &:hover {
        color: $colorYellow;
    }
}

.footer-contact > h4{
    color: $colorGrey;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.footer-contact > h5 {
    color: $colorWhite;
    font-size: 16px;
}
.footer-contact > h4 > i {
    margin-right: 20px;

}

.copy-right {
    background-color: $colorBlack;
    height: 100px;
}

@media screen and (max-width: 990px){
    .content .logo-sec  h4{
        font-size: 16px;
    }
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 14px;
    }
    .reviews {
        font-size: 18px;
    }
}
