@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Calligraffitti&family=Open+Sans&family=Oswald&display=swap');
@import "./landing";
@import "./nav";
@import "./var";
@import "./reviews";
@import "./footer";



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

.logo-sec > img{
    height: 50px;
    width: 50px;
}
.logo-sec > h4 {
    font-family: 'Open Sans', sans-serif;
}

strong {
    color: $colorBlack;
}

.calli > h4{
    font-family: 'Calligraffitti', cursive;
}
.abril > h4 {
    font-family: 'Abril Fatface', cursive;
}

section{
    height: 100vh;
 
}



.icon {
    list-style: none;
    margin-top: 30px;
    width: 250px;
}
.icon li a i{
    list-style: none;
    font-size: 56px;
    color: $colorYellow;
    transition: .5s;
    &:hover {
        color: $colorWhite;
    }   
}

@media screen and (max-width: 768px){
    section {
        height: 140vh;
    }
    .card p {
        font-size: 12px;
    }
    .title-name {
     font-size: 8px;
     }
     .prof-pic > img{
         width: 60px;
         height: 50px;
     }
     .google-map {
         width: 300px;
         margin-top: 20px;
     }
     .copy-right {
         font-size: 12px;
     }
     .footer-menu ul li a{
         font-size: 14px;
     }
     .polygon {
        background-image: url("../images/idea1-min.jpg");
        background-color: $colorYellow;
        background-blend-mode: darken;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        height: 150px !important;
        width: 350px; 
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .content > h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 46px;
    }
    .content-p {
        padding: 0 50px;
    }
  
   
 }

 
@media screen and (max-width: 990px){
    .content .logo-sec  h4{
        font-size: 16px;
    }
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 14px;
    }
    .reviews {
        font-size: 18px;
    }
}






